.contenedor {
    width: 100%;
    overflow: auto;
    border: 1px solid black;
}


.caja1{
    background-color: blue;
    border: 2px solid grey;
    width: 50%;
    height: 100px;
    margin-right: 10px;
    margin-bottom: 10px;
    float: left;
}

.caja2{
    background-color: lightyellow;
    width: 20%;
    height: 50px;
    float: left;
}

.caja3{
    background-color: lightcoral;
    border: 1px double black;
    width: 20%;
    height: 50px;
    float: left;
    clear: left;
}
